<p>
    Address: <%= @user.address.address_name %>
</p>
<p> 
    Zip-Code: <%= @user.address.zip_code %>
</p>
<p> 
    City: <%= @user.address.city %>
</p>
<p> 
    Country: <%= @user.address.country %>
</p>